* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
/***************************************************************  Navbar *************************************/
body{
    padding: 0;
    margin: 0;
    background-image:  url("../images/melange.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h4{
    color: #CB0D0D;
}
header h1{
    color: #FFFFFF;
    font-size: 70px;
    font-family: Montserrat;
}
.navbar{
    background-color: #490909;
}
.nav-item .nav-link{
    color: white;
    font-size: 20px;
}
.navbar-toggler{
    color: white;
}
.navbar-brand{
    color: white;
}

/***************************************************************  footer *************************************/

.footer{
    background-color: #311919;
    color: white;
}